html {
  height: 100%;
  font-size: 25px;
}

body {
  height: 100%;
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.password {
  align-self: center;
  width: 35rem;
  padding-top: 1rem;
}

.password__inner {
  width: 20rem;
  max-width: calc(100% - 6rem);
  margin: 0 auto;
  padding: 2rem 3rem;
}

.password__inner[data-state="valid"] .password__input {
  border-color: green;
}

.password__inner[data-state="invalid"] .password__input {
  border-color: tomato;
}

.password__inner[data-state="invalid"] .password__error {
  max-height: 100%;
}

.password__call {
  font-weight: 500;
  font-size: 2rem;
  margin: 0 0 2rem;
}

.password__input-wrp {
  margin-bottom: 1rem;
}

.password__input {
  width: calc(100% - 2rem - 4px);
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: 1px solid black;
  border-radius: 5px;
}

.password__input:hover,
.password__input:focus {
  outline: none;
  border-color: navy;
}

.password__btns {
  display: flex;
}

.password__btn {
  padding: 0.1rem 0.5rem;
  font: inherit;
}

.password__btn:not(:last-child) {
  margin-right: 0.7rem;
}

.password__btn:last-child {
  margin-left: auto;
}

.password__error {
  max-height: 0;
  color: tomato;
  text-align: center;
  overflow: hidden;
}

.password__error-message {
  margin: 0;
  padding-top: 1rem;
}

@media (max-width: 1920px) {
  html {
    font-size: 22px;
  }
}

@media (max-width: 1600px) {
  html {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 18px;
  }

  .password__inner {
    width: 100%;
    max-width: 15rem;
    padding: 1rem 0.7rem;
  }

  .password__call {
    font-size: 1.6rem;
  }
}

@media (max-width: 950px) {
  .password {
    width: 100%;
  }
}
